body {
    background-color: cornsilk;
}

div.container>.pizzaDescription,h4.pizzaTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span#card-placement {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.menuCard {
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    width: 75%;
    margin: 2.5%;
    background: white;
}



/* added shopping cart icon */
.shoppingCartIcon {
    width: 50%;
    height: 50%;
    transition: active 0.3s ease-in-out;
}

.shoppingCartIcon:hover {
    cursor: pointer;
}

.shoppingCartIcon:active {
    transform: scale(0.90);
}

div.addToCart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
/* leads to nowhere cause I couldn't figure out how to do this with the a tag, nor does it do anything.
   But I plan to add some sort of counter at the top, like with online shopping */

@media only screen and (min-width: 600px) {
    body {
        background-color: gainsboro;
    }
    /* still applies for desktop */
}

@media only screen and (min-width: 1000px) {
    
    .menuCard:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transform: scale(1.15);
    }
    /* since hover doesn't really work on mobile, I moved it to desktop exclusively */
}